body {
    background-color: red;
}

@media only screen and (max-width: 1080px) {
    background-color: orange;
}

@media only screen and (min-width: 550px) {
    background-color: yellow;
}

@media only screen and (min-width: 400px) {
    background-color: white;
}
